.rmt-tree {
    height: 100%;
}

.tree-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        display: flex;
    justify-content: center;
    align-items: center;
    }
}